@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,600;0,700;1,200;1,600;1,700&display=swap');

:root {
    --pink: rgb(240, 148, 189);
    --blue: #33336b;
    --white: rgb(253, 242, 244);
    --darkPurple: #634964;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    background: linear-gradient(2deg, var(--blue), var(--darkPurple));
    background: -webkit-linear-gradient(2deg, var(--blue), var(--darkPurple));

    color: var(--white);
}

.candidate{
    font-weight: bold;
}

.cast{
    font-weight: 300;;
}

.voices{
    font-style: italic;
    color:var(--pink);
    font-size: 0.8rem;
}

