@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,600;0,700;1,200;1,600;1,700&display=swap');

:root {
    --pink: #f094bd;
    --blue: #33336b;
    --ligthBlue: hsl(240, 35%, 50%);
    --white: rgb(253, 242, 244);
    --darkPurple: #634964;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    background: transparent;
    /* background: linear-gradient(2deg, var(--blue), var(--darkPurple)); */
    /* background: -webkit-linear-gradient(2deg, var(--blue), var(--darkPurple)); */

    color: var(--white);
}

#results{
    vertical-align: center;
}
.candidate {
    font-weight: bold;
}

.cast {
    font-weight: bold;
    font-size: 0.8rem;
}

.voices {
    font-style: italic;
    color: var(--pink);
    font-size: 0.8rem;
}

#voteCount {
    font-size: 1.1rem;
    font-weight: normal;
}

.voteCount {
    font-weight: bold;
    color: var(--pink)
}

.bar {
    height: 0.75rem;
    background: linear-gradient(-19deg, var(--pink), var(--ligthBlue));
    background: -webkit-linear-gradient(-19deg, var(--pink), var(--ligthBlue));
    border-radius: 5px;
    display: inline-block;
    margin-right: 1ch;
}